.contenedorImagen {
    background: url(banner_caitlyn.jpg);
    height: 768px;


}

.row {
    margin-top: 50px;
}
.container {
  
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 100px;
}
h2 {
    font-size: 40px;
    color: white;
}